<mat-card class="pain-point-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ painPoint.title }}</mat-card-title>
    <mat-card-subtitle>{{ painPoint.upvotes }} upvotes</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{ painPoint.description }}</p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button><mat-icon>thumb_up</mat-icon> Upvote</button>
    <button mat-button><mat-icon>comment</mat-icon> Comment</button>
  </mat-card-actions>
</mat-card>
