.pain-point-card {
  margin: 20px;
  width: 100%; // 或者根据设计指定宽度

  .example-header-image {
    background-image: url('/assets/avatar.png'); // 假设的头像图片
    background-size: cover;
  }

  mat-card-title,
  mat-card-subtitle {
    color: #333;
  }
}
