<mat-toolbar color="primary">
  <span>Idea Button</span>
  <span class="toolbar-spacer"></span>
  <button mat-button routerLink="/pain-points" routerLinkActive="active-link">Pain Points</button>
  <button mat-button routerLink="/ideas" routerLinkActive="active-link">Ideas</button>
  <button mat-button routerLink="/thoughts" routerLinkActive="active-link">Thoughts</button>
  <div class="user-avatar">
    <img src="assets/user-avatar.png" alt="User Avatar">
  </div>
</mat-toolbar>

<div class="main-container">
  <router-outlet></router-outlet>
  <!-- Your routed components will be rendered here -->
</div>
